body {
    background-color: rgb(16, 15, 24);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#chat {
    width: 80%;
    position: absolute;
    top: 0;
    bottom: 58px;
    border: 1px solid white;
    margin-top: 10px;
}

#send-ui {
    width: 80%;
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message {
    width: 95%;
    height: 34px;
    font-size: 20px;
}

#send {
    width: 5%;
    height: 40px;
    font-size: 20px;
    min-width: 60px;
}