* {
    background: black;
    color: white;
    font-size: 25px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

html {
    width: 60vw;
    margin: auto;
}

.title {
    font-size: 40px;
    text-align: center;
}

.matrix-element {
    width: 40px;
}

#message {
    width: 40vw;
}