* {
    color: whitesmoke;
}

body {
    background: rgb(25, 30, 40);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#left {
    float: left;
    width: 70%
}

#updates {
    width: 25%;
    height: 90vh;
    float: right;
    background: rgb(60, 80, 100);
    padding: 5px;
    overflow-y: auto;
}

#updates-title {
    text-align: center;
}