body {
    background: rgb(25, 30, 40);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    user-select: none;
}

canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

hr {
    color: white;
    border: 2px solid white;
    width: 80vw;
}

.help {
    display: block;
    background: rgb(60, 80, 100);
    width: 80vw;
    height: 20vh;
    margin-top: 50vh;
    margin-left: auto;
    margin-right: auto;
}

.how-to-play {
    float: left;
    width: 50%;
}

.controls {
    float: right;
    width: 50%;
}

.hidden {
    display: none;
}

#start-menu {
    text-align: center;
}

#pause-menu {
    background: rgb(25, 30, 40);
    text-align: center;
}

.start-button {
    display: inline-flex;
    width: max(22vh, 13vw);
    height: max(5vh, 3vw);
    margin: auto;
    font-size: max(3vh, 1.5vw);
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 1vw;
}

.start-button:hover {
    background: rgb(50, 60, 80);
}

.mobile-button {
    display: flex;
    width: 5vh;
    height: 5vh;
    border: 2px solid white;
    background: black;
    align-items: top;
    justify-content: center;
    font-size: 3.2vh;
}

.mobile-button:hover {
    background: rgb(60, 60, 60);
}

#pause {
    position: absolute;
    top: 2vh;
    right: 2vh;
}

.move-button {
    display: flex;
    width: 10vh;
    height: 10vh;
    border: 2px solid white;
    background: black;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    font-weight: bolder;
}

.move-button:hover {
    background: rgb(60, 60, 60);
}

#up {
    position: absolute;
    bottom: 2vh;
    right: 2vh;
}

#left {
    position: absolute;
    bottom: 2vh;
    left: 2vh;
}

#right {
    position: absolute;
    bottom: 2vh;
    left: 14vh;
}

/* .save-div {
    display: flex;
    width: 10vw;
    height: 10vw;
    font-size: 1vw;
    border: 2px solid white;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}

.save-div:hover {
    color: lightskyblue;
    border: 2px solid lightskyblue;
}

#create {
    display: flex;
    width: 10vw;
    height: 10vw;
    font-size: 3vw;
    border: 2px solid white;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

#create:hover {
    color: lightskyblue;
    border: 2px solid lightskyblue;
} */