* {
    color: whitesmoke;
}

body {
    background-color: rgb(25, 30, 40);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#left {
    float: left;
    width: 60vw;
}

#updates {
    width: min(30vw, 50vh);
    height: min(50vw, 80vh);
    float: right;
    background-color: rgb(60, 80, 100);
    padding: 5px;
    overflow-y: auto;
}

#updates-title {
    text-align: center;
}